  
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>个人博客 Vue.js</title>
    <!--引用 样式文件 -->
    <link rel="stylesheet" href="chapterVue.css" />
    <!--引用vue.js在线文件，安装-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .edit {
            display: block;
            width: 400px;
            height: 35px;
            line-height: 35px;
            margin: 30px auto;
            box-sizing: border-box;
            padding-left: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            outline: 0;
            box-shadow: 0 0 5px #ccc;
        }
        .deleted {
            color: red;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <div class="description">
                <div style="background-image: url(https://pic.cnblogs.com/avatar/1468246/20180817230353.png); width: 128px; height: 128px; background-size: cover; border-radius: 50%; margin: 0 auto;" v-on:click="alert('我是老张的哲学的头像')">
                </div>
                <p class="name" v-text="author"></p>
                <p class="desc">Software Engineer.Currently working in Microsoft co-operation.</p>
            </div>
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://www.cnblogs.com/laozhang-is-phi/">博客园</a>
                    </li>
                    <li class="nav-item">
                        <a href="/timeline">简书</a>
                    </li>
                    <li class="nav-item">
                        <a href="/music">阿里云栖</a>
                    </li>
                    <li class="nav-item">
                        <a href="/rss.xml">Git</a>
                    </li>
                    <li class="nav-item" v-show="isShow">
                        <a href="/rss.xml">CSDN</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--<input @keydown.enter="addTask" type="text" class="edit" v-model="task.content" placeholder="添加文件">-->
        <input @keydown.enter="addArticle" type="text" class="edit" v-model="task.name" placeholder="按回车添加文章">

        <div class="container">
            <h2 class="hr">
                <span>About Me</span>
            </h2>
            <p>My name is <span v-html="author"></span>. An amateur programmer who writes code every day and watches movies every day.</p>
            <h2 class="hr">
                <span>featured</span>
            </h2>
            <ul class="post-list non-style-list">
                <!--注意，不能在已经存在的静态类post-list-item上操作-->
                <li v-for='item in listSearch' class="post-list-item" v-bind:class="{ deleted: item.deleted}">
                    <!--这里用到了 v-bind 指令-->
                    <a v-bind:href="'https://www.cnblogs.com/laozhang-is-phi/p/'+ item.id +'.html'">{{item.name}}</a>
                    <!--还可以这样写-->
                    <!--<a :href="liskUrl">{{item.name}}</a>-->
                    <span class="post-list-date">({{item.date}})</span>
                </li>
            </ul>
            <div>
                <div v-if="list.length > 20 ">
                    MOST
                </div>
                <div v-else-if="list.length > 6 ">
                    MORE
                </div>
                <div v-else>
                    ALL
                </div>
            </div>
            <h2 class="hr">
                <span>Skills</span>
            </h2>
            <ul class="skill-list non-style-list">
                <li v-for='(item, key) in list3' class="post-list-item">{{item.name}}</li>
            </ul>
            <h2 :class="[hrClass,testClass]">
                <span>Contact</span>
            </h2>
            <my-component></my-component>
        </div>
        <footer-vue :foo="author" @click="doThis(arg1)"></footer-vue>
        <div class="layout-bg"></div>
    </div>
    <script type="text/javascript" src="chapterVue.js"></script>
</body>
</html>