<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>

    <div id="app-7">
        <ol>
            <goods-list v-for="item in groceryList" :grocery="item" :key="item.id"></goods-list>
        </ol>
    </div>


    <div id="watch-example">
        <p>
          Ask a yes/no question:
          <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

    <div id="example-2">
        <button v-on:click="greet">Greet</button>
    </div>

    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <div id="example-5">
        <select v-model="selected">
        <option  v-model="selected" v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
        </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px;">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-7">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    
    <div id='exmaple-input'>
        <input v-model.lazy.trim="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>

    <div id='componenDemo'>
        <button-counter></button-counter>
    </div>

    <div id='blog-post-demo'>
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:blog="post"></blog-post>
    </div>
    
    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post>
        </div>
    </div>
    <!-- <div id="validator-demo">
        <my-component :prop-a="propA" :prop-b="propB" :prop-c="propC" :prop-d="propD" :prop-e="propE" :prop-f="propF">
        </my-component>
    </div> -->
    <!-- <div id='slot-demo'>
        <navigation-link url="/profile">
            <span>Your Profile</span>
        </navigation-link>
    </div> -->
    <!-- <div id='noble-slot-demo'>
        <homepage-parent>
            <p>noble-slot-test</p>
        </homepage-parent>
    </div> -->
    <div id='scope-slot-demo'>
        <scope-slot>
            <p>test</p>
        </scope-slot>
    </div>
    <style type="text/css">
    </style>
    <script src="index.js"></script>
</body>

</html>